body{
    background-color: aliceblue;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
height: 60px;
width: 100%;
background-color: #0f1111;
}
a{
   text-decoration: none;
    color: aliceblue;
      margin-right:200px;
}
#logo{
    color:orange;
    font-size: 25px;}
button{
    background-color: orange;
    color:white;
}
.traffic{
height:400px;
width: 160px;
margin: 0%;
padding: 10px;
background-color: rgb(29, 8, 54);
}
.lights{
    
    height:100px;
    width: 100px;
    border-radius: 50%;
    margin: 20px;
    /* margin-left: 40px; */
    background-color: rgb(255, 255, 255);
}
.lights.red{
    background-color: rgb(220, 15, 15);
}
.lights.yellow{
    background-color: rgb(255, 255, 0);
}
.lights.green{
    background-color: rgb(0, 128, 0);
}
