.navbar{
background-color: rgb(110, 170, 222);
    display:flex;
    justify-content: space-evenly;
}
.navbar>li{
    list-style-type: none;
    display: inline;    
}
.navbar>li>a{
    text-decoration: none;
    color: rgb(255, 255, 255);

}
.outer{
    height: 300px;
    width: 300px;
    background-color: blue;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.inner{
    align-self: center;
    height: 100px;
    width:100px;
background-color: rgb(71, 163, 243);

}