<div class="card-block table-border-style">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                   <th class="center">Item</th>                                                    
                   <th>Description</th>
                   <th class="center">Qty</th>
                   <th class="right">Unit Price</th>
                   <th>Account</th>
                   <th>Tax Rate</th>
                   <th class="right">Amount GBP</th>
               </tr>
            </thead>                                            
         </table>
      </div>
 </div>