
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load bootstrap5 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
    <style>
      .container>form>div{
        padding:10px;
      }
    </style>
    <title>Admission</title>
</head>
<body>
    
  <h1 class="display-1">Admission Form</h1>
  <div class="container">

  <form action="{%url 'admission'%}" method="post">
{% csrf_token %}
{{form.as_div}}
<button type="submit">Submit</button>
</form>
</div>
</body>
</html>